/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: #f0f0f0;
    overflow-x: hidden;
}